#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: top;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app {
  text-align: center;
  color: #646cff;
   font-family: "Pixelify Sans", sans-serif;
}
.input {
 width: 500px ;
 padding: 1rem;
 margin-right:1rem;
}
.btn-primary {
  background-color: #e3efe5;
  height: 50px;
  margin-top:3rem;
}
.btn-secondary{
  background-color: rgb(235, 172, 216);
}
.btn-warning{
  display: inline-block;
  background: #5a54f0;
  color: white;
  font-family: "Press Start 2P", monospace;
  border-image: url("/pixel-frame.png") 5 stretch;
  border-width: 5px;
  border-style: solid;
  text-decoration: none;
  margin-right:1rem;
}
.list-group{
  justify-content: center;
}
.btn-secondary{
  display: inline-block;
  background: #c6e792;
  color: rgb(14, 14, 14);
  font-family: "Press Start 2P", monospace;
  border-image: url("/pixel-frame.png") 5 stretch;
  border-width: 5px;
  border-style: solid;
  text-decoration: none;
  margin-right:1rem;
}